@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Momo+Trust+Display&family=Special+Gothic:wght@400..700&display=swap');
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('imagebg.jpg');
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 60, 0, 0.5);

}

.container {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 30px;
  backdrop-filter: blur(16px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  color: white;
  z-index: 2;
  width: 600px;
  margin-top: 0px;
}

#result-container {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 30px;
  backdrop-filter: blur(16px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  color: white;
  z-index: 2;
  width: 800px;
  margin-top: 0px;
}

#result-header{
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 900;
  color:aliceblue;
}

span{
    font-size: 38px;
  margin-bottom: 10px;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 600;
  font-style: italic;
  background-color: aliceblue;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow:
    0 0 15px rgba(255, 255, 255, 0.3),
    0 0 30px rgba(255, 255, 255, 0.2);
  letter-spacing: 2px;
  animation: softglow 4s ease-in-out infinite alternate;
}

p{
  text-align: center;
  font-size: 18px;
  margin-top: 0;
}

.Main-text {
  position: relative;
  z-index: 2;
  text-align: center;
}

h1 {
  font-size: 60px;
  margin-bottom: 10px;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 600;
  font-style: normal;
  background: linear-gradient(90deg, #e7e7e7, #dcdcdc, #f0f0f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow:
    0 0 15px rgba(255, 255, 255, 0.3),
    0 0 30px rgba(255, 255, 255, 0.2);
  letter-spacing: 2px;
  animation: softglow 4s ease-in-out infinite alternate;
}

.italic {
  font-style: italic;
  font-weight: 700;
  font-size: 70px;
}

@keyframes softglow {
  0% {
    text-shadow:
      0 0 10px rgba(255, 255, 255, 0.3),
      0 0 20px rgba(255, 255, 255, 0.2);
  }
  100% {
    text-shadow:
      0 0 25px rgba(255, 255, 255, 0.6),
      0 0 50px rgba(255, 255, 255, 0.4);
  }
}




.subtitle {
  text-align: center;
  font-size: 0.9em;
  opacity: 0.8;
  font-size: 17px;
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-image {
  width: 80px; 
  height: auto;
  display: block;
  margin: 0 auto 10px auto; 
}


select, input {
  padding: 8px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

}

.btn {
  background: linear-gradient(45deg, #a8e063, #56ab2f);
  border: none;
  color: rgb(241, 241, 241);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: italic;
  width: 200px;          
  height: 50px;          
  border-radius: 17px;     
  cursor: pointer;
  font-size: 17px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(164, 163, 163, 0.2);
}

.btn:hover {
 
 background: linear-gradient(135deg, #21af0e, #079b49, #56ab2f);
  transform: scale(1.08);
  box-shadow: 0 6px 18px rgba(100, 200, 100, 0.5);
}

.btn-pdf{
  border: none;
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  font-style: normal;
  width: 200px;        
  cursor: pointer;
  font-size: 20px;
  text-decoration: underline;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(164, 163, 163, 0.2);
  margin-left: 280px;
}

.btn-pdf:hover {
 
  transform: scale(1.2);
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.25);
}


.map-btn-container {
    text-align: center;
    margin-top: 30px;
     font-family: "Inter", sans-serif;
  font-weight: 900;
}

.map-btn {
     background: linear-gradient(45deg, #a8e063, #56ab2f);
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 8px;
    text-decoration: none;
   
    transition: 0.3s;
}

.map-btn:hover {
   background: linear-gradient(135deg, #21af0e, #079b49, #56ab2f);
    transform: scale(1.05);
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.25);
}

